.bannerBg {
  position: relative;
  display: flex;
  justify-content: center;
}

.bannerBg img {
  filter: brightness(50%);
}

.bannerText {
  position: absolute;
  color: #ffffff;
  top: 50%;
  padding: 0 2%;
}

.bannerText h3 {
  text-align: center;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
