.card {
  background-color: black;
  border-radius: 22px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  height: 125px;
  margin: 0 auto;
  margin-bottom: 75px;
  max-width: 400px;
}

.card-content-conatiner {
  display: flex;
}

.developer-img-container {
  width: 150px;
  height: 175.14px;
  position: absolute;
  top: -20%;
}

.developer-img {
  border-radius: 22px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.content {
  margin-left: 155px;
  width: 100%;
}

.dev-info {
  padding-top: 5px;
  margin-bottom: 7px;
}

.card-text {
  color: #f8f8ff;
  padding-bottom: 2px;
}

.about-contact-info {
  width: 100%;
}

.contact {
  color: #f8f8ff;
  margin-bottom: 7px;
}

.about-icon-container {
  display: flex;
  justify-content: space-evenly;
}

.icon-container {
  background: #f8f8ff;
  border-radius: 3px;
  padding: 2px;
}

.meet-the-developers {
}
