.carouselCard {
  margin: 0 8px;
  padding: 3% 5% 0% 0;
}

.carouselCardTitle {
  margin-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 173px;
  overflow: hidden;
}

.carouselImage img {
  border-radius: 25px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  width: 173px;
  height: 261.76px;
}

.recommendBar {
  display: flex;
  justify-content: left;
  align-items: center;
  background: #c4c4c4;
  border-radius: 20px;
  width: 152px;
  height: 9px;
  padding: 0.5px 1.5px;
}

.recommendFill {
  border-radius: 20px;
  height: 6px;
  max-width: 100%;
}

.A {
  background-color: #ff0003;
  background-image: linear-gradient(
    90deg,
    #ff0003 20%,
    #fff400 54%,
    #00ff17 85%
  );
}

.C {
  background-color: #ff0003;
  background-image: linear-gradient(90deg, #ff0003 40%, #fff400 83%);
}

.F {
  background-color: #ff0003;
}
