.characterCarouselCard {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 2%;
  border-radius: 15px;
  min-width: 300px;
  height: 100px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.characterCarouselImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
}

.characterNames {
  margin-left: 2.5%;
}

.characterNames h4 {
  margin-top: 2%;
  max-width: 200px;
}

.characterNames p {
  padding-top: 2%;
  max-width: 200px;
  max-height: 55px;
  text-overflow: ellipsis;
  overflow: auto;
}
