.characterButtonCard {
  display: flex;
  padding: 1.5% 1.5% 0 1.5%;
  margin: 2%;
  border-radius: 15px;
  min-width: 250px;
  max-width: 470px;
  height: 135px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
