.about {
  padding: 0 10px;
}

.sub-section {
  margin-bottom: 8%;
}

.subheading {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1%;
}

.anime-lovers p {
  color: #4d4848;
  font-size: 1.2rem;
}

.developers {
  margin-bottom: 15%;
}
