.animeCard {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 2% 0;
}

.cardImage {
  margin: 2%;
  padding: 2%;
}

.cardImage img {
  border-radius: 25px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100px;
  height: 150px;
}

.cardDetails {
  display: flex;
  flex-direction: column;
  height: 150px;
}

.cardDetails h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 270px;
  overflow: hidden;
}

.animeCardTitle {
  margin-bottom: 8px;
}
