.searchSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 5px;
}

.searchBar {
  width: 85%;
  height: 40px;
  border-radius: 25px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.searchBar input {
  border: none;
  outline: none;
  background: none;
  border-radius: 25px;
  width: 90%;
  height: 40px;
  font-size: 1.5rem;
  padding: 0px 5px;
}

.load {
  border: 1px solid brown;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.load button {
  border: none;
  outline: none;
  background: none;
  width: 100px;
  height: 30px;
  border-radius: 25px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
