.filters {
  display: flex;
  justify-content: space-between;
}

.cardContainer {
  display: flex;
  overflow-x: scroll;
  margin: 10px 0px 15px 0;
  /* Removes horizontal scrollbar for ... */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Removes horizontal scrollbar for Chrome and Safari */
.cardContainer::-webkit-scrollbar {
  display: none;
}
