.filters {
  display: flex;
  justify-content: space-between;
}

.cardContainer {
  padding-bottom: 50px;
  display: flex;
  overflow-x: auto;
  margin: 10px 0px 15px 0;
}

.cardContainer::-webkit-scrollbar {
  height: 5px;
}

.cardContainer::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #c4c4c4;
  margin: 0 25px;
}

.cardContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #000;
}
